/* app/globals.css */
@import "tailwindcss";
@import "line-awesome/dist/line-awesome/css/line-awesome.min.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Correct: style the same element that receives the class */
html.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Helvetica, sans-serif;
}
